/*
    The style rules you define for the `body` element
    will apply to everything on the page. You can override
    them down below. Make sure you define the body rules
    first.
*/
body {
    color: #24292E;
    background-color: #FCFCFC;
    font: 300 20px/1.5 verdana, sans-serif;
}

/* === Masthead === */
.site-header {
    background-color: #FF0000;
    padding-bottom: 1em;
}

.site-header h1 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    /*
        The best way to change a font size is to use
        percentages. Set the font size in pixels once
        in the `body` element, and adjust it everywhere
        else using percents;
    */
    font-size: 400%;
}

.site-header p {
  text-align: right;
}

.site-header p a {
  padding-right: 1em;
}

/*
    By default, links are underlined. But the
    link in the banner shouldn't be underlined,
    so this rule gets rid of the underline.
 */
.site-header h1 a {
    color: inherit;
    text-decoration: none;
}

/*
    By default, links change from blue to purple
    when you visit the link, but that shouldn't
    happen in the banner. This rule disables that
    behavior.
*/
.site-header h1 a:visited {
    color: inherit;
    text-decoration: none;
}

.site-header nav {
    text-align: right;
}

.site-header nav a {
    color: inherit;
    text-decoration: none;
    margin-right: 1em;
}

.site-header nav a:visited {
    color: inherit;
}

/*
    This will add an underline to the anchor (<a>) text
    when the mouse pointer hovers over the link.
*/
.site-header nav a:hover {
    text-decoration: underline;
}

/*
    This `div` element encloses the content of the page
    but not the banner and not the footer. This is useful
    for defining some padding on the left and right.
 */
.content-wrapper {
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 780px;
}

.welcome {
  margin: 2em 0em;
}

/*
    === Footer ===
*/

footer.site-footer {
    background-color: #D9E3EF;
    padding: 2em;
    font-size: 80%;
    margin-top: 3em;
}

.on-the-web {
    list-style-type: disc;
    margin-left: 2em;
}

.on-the-web a {
    color:inherit;
}

.post-list li img {
  float:left;
  margin-right: 1em;
}
