body {
    background-color: white;
    font-family: verdana;
    font-size: 20px;
    margin-left: 4em;
    margin-right: 4em;
}

h1 {
    color: black;
    text-align: center;
    font-size: 100px;
}

p.attribution {
    font-size: 50%;
    text-transform: uppercase;
}

.animal {
    font-weight: bold;
    color: black;
}

.fact {
    color: black;
}

hr {
    border-top: 1px solid #8c8b8b;
}

footer {
    color: dark grey;
    background-color: white;
    font-size: 10px;
}

h2 {
    color: black;
    text-align: center;
    font size: 50px;
    text-align: center;
}
