body {
  background-color: white;
  font-family: verdana;
  font-size: 20px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 80px;
}

p.attribution {
  font-size: 50%;
  text-transform: uppercase;
}

.animal {
  font-weight: bold;
  color: black;
}

ul.post-list li {
  min-height: 150px;
  margin-bottom: 3em;
}

.post-teaser h2 {
  font-size: 150%;
  font-weight: bold;
}

.fact {
  color: black;
}

hr {
  border-top: 1px solid #8c8b8b;
}

article {
  margin-bottom: 3em;
}

footer {
  color: dark grey;
  background-color: white;
  font-size: 10px;
}

h2 {
  color: black;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

ul.content-wrapper {
  margin: 0;
  float:left;
}

h3 {
  font-size: 150;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2em;
}
